<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title> Quiz</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Favicons -->
    <link href="/img/logo.png" rel="icon">

    <link rel="stylesheet" type="text/css" href="/css/page-quiz.css"/>
</head>

<body>

<div id="page-wrap" class="photoQ">

    <h1 class="quizName">  <%= quiz.name %>  Quiz</h1>

    <form action="/submitQuiz" method="post" id="quiz">
        <br>
        <ol>
            <% quiz.quizQuestions.forEach(function (question){ %>
                <li >
 
                    <h3>
                        <%- question.question %>
                    </h3>
                    <% question.choices.forEach(function (choise){ %>
                     <br>   
                    <div>
                        <input class="option-input radio" type="radio" name="Q<%- question.quesitionNumber %>" id='<%- choise.coiseNumber %>'
                               value='<%- choise.coiseNumber %>' required/>
                        <label for='<%- choise.coiseNumber %>'>
                            <%- choise.choise %>
                        </label>
                    </div>
                    <% }) %>
                </li>
                <hr>
            <% }) %>
            <input type="hidden" value="<%- quiz._id %>" name="quizId">

           
        </ol>
        

        <button type="submit" id="submint" class="btn-button btn1-info btn-lg" >
            Submit Quiz
        </button>
    </form>




</div>

<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-68528-29");
    pageTracker._initData();
    pageTracker._trackPageview();
</script>


<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>