<%- include('navBar'); -%>
<!-- ***** header End ***** -->


<!-- ***** Section-2 Starts ***** -->

<!-- ##########  Quiz ###########-->
<section class="section" id="Courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="center-heading">
                    <h2><%= quiz.courseName %></h2>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12"
                 data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-1">
                        <h4><%= quiz.name %></h4>

                        <p>
                            test your knowledge 🧐 with <%= quiz.name %>
                        </p>
                        <p>
                            Quiz grade is <%= quiz.grade %>
                        </p>
                        <p>
                            Quiz time is <%= quiz.time %>
                        </p>
                        <a href="/quiz/<%= quiz._id %>" class="main-button"> go to Quiz </a>

                    </div>
                </div>
            </div>


        </div>
    </div>


</section>
<!-- ***** Section-2 End ***** -->


<div class="footer-dark">
    <footer id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">

                    <h3>Services</h3>
                    <ul>
                        <li><a href="wise quiz.html.#Courses">Courses</a></li>
                        <li><a href="#">Quiz page</a></li>
                        <li><a href="wise quiz.html.#Contact">Contact Us</a></li>
                    </ul>

                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>

                        <li><a href="wise quiz.html">Web WISE Quiz </a></li>
                        <li><a href="wise quiz.html">App WISE Quiz</a></li>
                        <li><a href="#">Login In</a></li>
                    </ul>

                </div>
                <div class="col-md-6 item text">
                    <h3>Company Name</h3>
                    <p>Wise Quiz app and website</p>
                </div>

                <div class="social-media">
                    <ul>
                        <a href="wise quiz.html">
                            <li><img title="WISE quiz " src="/img/logo.png" alt="images WISE QUIZ"></li>
                        </a>
                        <a href="">
                            <li><img title="Twitter" src="/img/twitter.png" alt="images Twitter"></li>
                        </a>
                        <a href="">
                            <li><img title="Google" src="/img/google.png" alt="images Google"></li>
                        </a>
                        <a href="">
                            <li><img title="facebook" src="/img/facebook.png" alt="images facebook"></li>
                        </a>

                    </ul>
                </div>
            </div>
    </footer>
    <!-- ***** Footer End ***** -->


    <!-- jQuery -->
    <script src="/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/scrollreveal.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="/js/custom.js"></script>

</body>

</html>